<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
    <link rel="stylesheet" href="/static/ws.css"/>
</head>
<body>
<div class="input-group">
    <label for="chatId">Chat ID:</label>
    <input type="text" id="chatId" placeholder="Введите ID чата"/>
    <button id="connectBtn" onclick="toggleConnection()">Connect</button>
</div>

<div class="input-group">
    <label for="messageInput"></label><br>
    <input type="text" id="messageInput" placeholder="Введите текст..." disabled/>
    <button id="sendBtn" onclick="sendMessage()">Отправить</button>
</div>

<pre id="output"></pre>

<script src="/static/ws.js"></script>
</body>
</html>