body {
    font-family: sans-serif;
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 80px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    color: white;
    width: 90px;
    height: 35px;
}

pre {
    white-space: pre-wrap;
}

#connectBtn {
    background-color: #4CAF50;
    width: 100px;
}

#connectBtn[disconnected] {
    background-color: #ff4d4d;
}

#sendBtn {
    background-color: #2196F3;
    width: 80px;
}

.own {
    background-color: #e0f7ff;
    margin-left: 20%;
    text-align: right;
    padding: 8px;
    border-radius: 4px;
}

.other {
    background-color: #f9f9f9;
    margin-right: 20%;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
}


/*<style>*/


/*        !* Цвет когда кнопка отключена *!*/
/*        .custom-button:disabled {*/
/*            background-color: #ccc; !* светло-серый *!*/
/*        }*/

/*        !* Цвет когда кнопка включена *!*/
/*        .custom-button:enabled {*/
/*            background-color: #2196F3; !* синий *!*/
/*        }*/
/*    </style>*/

/*<label for="chatId" style="width: 80px;">Chat ID:</label><br>*/
/*<input type="text" id="chatId" placeholder="Введите ID чата" style="width: 250px; padding: 8px;"/>*/
/*<button id="connectBtn" onclick="toggleConnection()" style="padding: 8px 12px; margin-left: 10px;*/
/*        background-color: #4CAF50; color: white; border: none; cursor: pointer; width: 90px;">*/
/*    Connect*/
/*</button>*/

/*<label for="messageInput"></label><input type="text" id="messageInput" placeholder="Введите текст..."*/
/*                                             style="width: 250px; padding: 8px;"/>*/
/*    <button class="custom-button" id="sendBtn" onclick="sendMessage()" disabled>*/
/*        Отправить*/
/*    </button>*/